/** @file vzw_secrets.h
 *  @brief Macros definitions for the required VZW credentials.
 */
#ifndef VZW_SECRETS_H
#define VZW_SECRETS_H

#define VZW_PUBLIC_KEY ""
#define VZW_PRIVATE_KEY ""
#define VZW_USERNAME ""
#define VZW_PASSWORD ""

#endif
