@import 'tailwindcss';
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "default";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(98% 0 0);
  --color-base-200: oklch(97% 0 0);
  --color-base-300: oklch(92% 0 0);
  --color-base-content: oklch(20% 0 0);
  --color-primary: oklch(77% 0.152 181.912);
  --color-primary-content: oklch(27% 0.046 192.524);
  --color-secondary: oklch(62% 0.265 303.9);
  --color-secondary-content: oklch(0% 0 0);
  --color-accent: oklch(0.879 0.0535 80.04);
  --color-accent-content: oklch(42% 0.095 57.708);
  --color-neutral: oklch(12% 0.042 264.695);
  --color-neutral-content: oklch(92% 0.013 255.508);
  --color-info: oklch(82% 0.111 230.318);
  --color-info-content: oklch(39% 0.09 240.876);
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: oklch(90% 0.182 98.111);
  --color-warning-content: oklch(47% 0.114 61.907);
  --color-error: oklch(70% 0.191 22.216);
  --color-error-content: oklch(25% 0.092 26.042);
  --radius-selector: 0.5rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

@plugin "daisyui/theme" {
  name: "dark";
  default: false;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(27% 0.041 260.031);
  --color-base-200: oklch(20% 0.042 265.755);
  --color-base-300: oklch(12% 0.042 264.695);
  --color-base-content: oklch(98% 0.003 247.858);
  --color-primary: oklch(77% 0.152 181.912);
  --color-primary-content: oklch(27% 0.046 192.524);
  --color-secondary: oklch(62% 0.265 303.9);
  --color-secondary-content: oklch(0% 0 0);
  --color-accent: oklch(87.9% 0.054 80.04);
  --color-accent-content: oklch(42% 0.095 57.708);
  --color-neutral: oklch(14% 0 0);
  --color-neutral-content: oklch(97% 0.001 106.424);
  --color-info: oklch(82% 0.111 230.318);
  --color-info-content: oklch(39% 0.09 240.876);
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: oklch(90% 0.182 98.111);
  --color-warning-content: oklch(47% 0.114 61.907);
  --color-error: oklch(70% 0.191 22.216);
  --color-error-content: oklch(25% 0.092 26.042);
  --radius-selector: 0.5rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

@font-face {
  font-family: "SourceCodePro";
  font-style: normal;
  src: local("SourceCodeVF-Upright"), url("/assets/fonts/SourceCodeVF-Upright.otf.woff2") format("woff2");
}

@font-face {
  font-family: "SourceCodePro";
  font-style: italic;
  src: local("SourceCodeVF-Italic"), url("/assets/fonts/SourceCodeVF-Italic.otf.woff2") format("woff2");
}

@theme {
  --font-sans: "SourceCodePro", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-mono: "SourceCodePro", ui-monospace, "SFMono-Regular", "Menlo", "Monaco", "Consolas", "Liberation Mono",
    "Courier New", monospace;
}

html {
  @apply relative scroll-smooth;
}

body {
  @apply bg-base-100 text-base-content overflow-x-hidden;
  font-family: "SourceCodePro";
  height: 100vh;
}

/* body {
  @apply bg-base-100 text-base-content overflow-x-hidden;
  font-family: "SourceCodePro";
} */


#main {
  height: 100%;
  display: flex;
  flex-direction: column;
  place-content: safe center;
  place-items: safe center;
}



@layer base {
  h1 {
    font-size: var(--text-5xl);
    font-weight: var(--font-weight-bold);
  }
  h2 {
    font-size: var(--text-2xl);
  }
  h3 {
    font-size: var(--text-lg);
  }
}
